<h1>Sign in</h1>

<form {{on "submit" this.submit}}>
  <div>
    <label for="email">Email</label>
    <Input
      @type="email"
      @placeholder="Email"
      @value={{this.email}}
      @required={true}
    />
  </div>
  <div>
    <label for="password">Password</label>
    <Input
      @type="password"
      @placeholder="Password"
      @value={{this.password}}
      @required={true}
    />
  <div>
    <input type="submit" value="Sign in" />
  </div>
  </div>
</form>
