<div class="TabList">
  {{#each this.steps as |step|}}
    {{#unless step.hidden}}
      <LinkTo
        @route={{step.route}}
        class="Tab"
        data-step={{step.number}}
      >
        {{step.title}}
      </LinkTo>
    {{/unless}}
  {{/each}}
</div>

{{outlet}}
