<div class="TabList">
  <LinkTo @route="welcome.you">Your information</LinkTo>
  <LinkTo @route="welcome.team">Your team</LinkTo>
  <LinkTo @route="welcome.privacy">Your privacy</LinkTo>
</div>

{{outlet}}
